/*adding a . for (.class name) for more effective css styling*/
.Cantor-Heading
{
    border: 2px solid black; 
    padding: 5px;
}

.Learn-about-us 
{
    border: 1px solid black;
    padding: 5px;
    width: 250px;
}