/*adding a . for (.class name) for more effective css styling*/

/*General Selectors*/

p /*Makes all p text this style, more efficient than using specific style property*/
{
    border: 1px;
    color: white;
    background-color:#523E0D;
    padding: 10px;
    border-radius: 20px;
}

h1 /*Makes all h1 this style, more efficient than using specific style property*/
{
    border: 1px solid black; 
    color: white;
    background-color: #523E0D;
    padding: 5px;
}

h2{
    border: 1px solid black; 
    color: white;
    background-color: #523E0D;
    padding: 5px;
}

body{
    margin: none;
    background-color: #ffc235;
}


/*Cantor Navigation Bar?==============================================================*/
.CantorNav ul{
    list-style-type: None;
    background-color: #523E0D;
    padding: 0px;
    margin: 0px;
    overflow: hidden; 
}

.CantorNav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.CantorNav a:hover{
    background-color: #F2A903;
}

.CantorNav li{
    float: left;

}


/*Main Section===========================*>*/

main{
    margin-top: 15px;
    padding: 10px;
    margin-left: 0;
}

/*Container of index page, holding 2 sub containers*/
.container {
    display: flex;
    margin-bottom: 25px;
}

.DesignCourse
{ 
    border: 1px solid black;
    background-color:#523E0D;
    color: white;
    padding: 5px; /*will help give space to surrounding areas*/
    width: 50%;
    margin-right: 20px; /*Remember margin-right-left etc Adds space between margin and container's (parent) side, also caused the div.xxx img (child) to position like that*/
    position: relative; 
    border-radius: 20px;
}

.DesignCourse a
{
    color:white;
}

/*div for tag, Content with capital to work properly, img for img obviously*/
div.DesignCourse img { 

    border: 1px solid black;
    width: 100%; /* width 100% means full width ratio to the entire div block*/
    display: block; /*Changes from inline to block*/
    margin-top: 20px; 
    top: 100%;
    left: 0%; /*This is to line up the images to the div container perfectly*/
    border-radius: 20px;
    position: absolute;

}

.ComputingCourse
{
    border: 1px solid black;
    background-color:#523E0D;
    color: white;
    padding: 5px;
    width: 50%;
    margin-right:5%;
    margin-left: 5%;
    border-radius: 20px;
    position: relative;
}

.ComputingCourse a{
    color:white; /*To make href in the 2nd sub container (explore-courses) white since 1st sub container is content*/
}

div.ComputingCourse img {
    border: 1px solid black;
    width:100%;
    display: block;
    margin-top: 20px; /* As this Add space from the top of the content which is the img*/
    top: 100%;
    left: 0%;
    border-radius: 20px;
    position: absolute
}

/* Relative means relative to normal spot but left/right/top/bottom/centred*/
/* Container, ideally needs to be relative*/
/* Inside contenet ideally needs to be absolute*/

.F-Btn-Tainer
{
    padding: 20px;
    text-align: center;
    position: relative;
}


/*About Us Page===================================*/

.Learn-Container
{
    display: flex;
    flex-direction: row;
    align-items: flex;
    margin: 10px;
    gap: 2px;
    border-radius: 20px;
}


.L-ContainerSection1 
{
  background-color: #523E0D;
  color: white;
  width: 50%;
  border-radius: 20px;
  position: relative;
}

.L-ContainerSection1 p
{
  color: white;
  margin: 0;
  padding: 5px;
}


.L-ContainerSection2

{
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}

.StaffColumn
{
    flex: 1 1 50%;
}
.StaffInformationSection
{
     display: flex;
    flex-direction: column-reverse;
}


/*Facilities Page ================================================= */

.Facilites-Container
{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.col2{
    flex:1 1 50%;
}

.col2 img{
    width:100%;
    height:auto;
}

.Facilites-PList
{
    border: 1px;
    color: white;
    background-color:#523E0D;
    padding: 10px;
    border-radius: 20px;
}



.student-container
{
    display: flex;
    flex-direction: column-reverse;
}



/*Find Us=========================================*/


/*Contact us==========================================*/

.ContactUsForm
{
    color: white;
    background-color:#523E0D;
    padding: 15px;
    width: 50%;
    font-size: 30px;
}

/*Info for Business*/

.BusinessContainer
{
    width: 75%;
}

.BusinessContainer ul
{
    border: 1px;
    color: white;
    background-color:#523E0D;
    padding: 10px;
    border-radius: 20px;
}









/*ComputingCourseList ==========================================================*/


/* Media queries ====================== */
@media (min-width: 768px) {
    nav.CantorNav ul {
        flex-direction: row;
    }
}

nav.CantorNav li {
    flex: 1;
}

.Facilites-Container{
    flex-direction: row;
    gap: 40px;
}

.col2{
    flex: 1 1 50%;
}

h1{
    font-size: 2em;
}

p,ul{
    font-size: 1.1em;
    margin: 20px;
}