#digitalClock {
    display: flex;
    justify-content: space-between; /*Instead of left or right space, this adds space in the middle between two inner html*/
    margin: 20px auto;        /*This just keeps it nicely in the middle away from the top*/
    max-width: 950px;         /*This controls the max width of time on left and date on right*/
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 20px;
}

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: #ffc235;
}


/*Cantor Navigation Mobile ================================================================== */

nav.CantorNav ul {
 flex-direction: row;
}


nav.CantorNav li {
    flex: 1;
}

.CantorNav ul{
    list-style-type: None;
    background-color: #523E0D;
    padding: 0px;
    margin: 0px;
    overflow: hidden; 
}

.CantorNav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}


.CantorNav li{
    float: middle;
}


/**/

.Facilites-Container {
    flex-direction: row;
    gap: 10px;
}

.col2 {
    flex: 1 1 50%;
}

h1 {
    font-size: 2em;
}

p,ul{
    font-size: 1.1em;
    margin: 20px;
    background-color:#523E0D;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

/*Note: 1em is around 16px*/


/*Contact Us Form Mobile*/

.FormContainer
{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.ContactUsForm
{
    color: white;
    background-color:#523E0D;
    padding: 15px;
    width: 50%;
    font-size: 30px; 
    margin-top: 50px; /*To bring it down, center a bit more since the form's flex is already justified as middle*/
    border-radius: 20px;
}